nav {
	height: 50px;
	width: 100%;
	background-color: #16a085; 
	color: white;
	margin-bottom: 50px;
}

.nav-ele {
	padding: 10px;
	display: inline-block;
}

nav a {
	color: white;
	font-size: 1.5em;
}

.from-txt {
	height: 300px;
	background-color: rgba(44, 62, 80, .5);
	padding: 10px;
	color: white;
}

.to-txt {
	height: 300px;
	background-color: rgba(39, 174, 96, .25);
	padding: 10px;
	color: black;
}


.quizBacker {
	background-color: #FFF8DC;
	height: 3000px;
}

.quiz-image {
	display: block;
	margin: auto;
	overflow: hidden;
	height: 400px;
	width: 100%;
}

.dynamic-quiz {
	margin-left: 5%;
	margin-top: 50px;
}
/*
.correct-box {
	float: right;
	margin-top: -23px;
	margin-left: 15px;
	padding: 0    
	margin-bottom: 0px; 
    border: 1px solid transparent; 
    border-radius: 4px; 
}
*/


